BOT_TOKEN=
GUILD_ID=
MAIN_CHANNEL_ID=
ANNOUNCE_CHANNEL_ID=
LOG_CHANNEL_ID=

ROLE_RU=
ROLE_UK=
ROLE_EN=

API_BASE=http://127.0.0.1:8787
SITE_URL=https://superbodik.github.io/CS2-TacMap/
INVITE_URL=https://discord.gg/ZMG7Z8pTs5
